
.icon-right-thin:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */
.icon-right-small:before { content: '\e808'; } /* '' */
.icon-right:before { content: '\e809'; } /* '' */
.icon-mail-2:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-left-small:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-appnet:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-heart-empty-1:before { content: '\e819'; } /* '' */
.icon-mail-1:before { content: '\e81c'; } /* '' */
.icon-pinterest-1:before { content: '\e81f'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
